.form-container{
  margin:auto;
  margin-top: 40px;
  height: 250px;
  width: 20%;
  background-color: rgb(198, 198, 126);
  padding: 10px;
}
input{
  width: 250px;
  border: none;
  border-radius: 10px;
  margin: 8px;
}
.btn{
  width: 150px;
   border: none;
   border-radius: 50px;
   margin-top: 13px;
}
.condition-text{
  margin-top: 15px;

}
.condition-text:hover{
  cursor: pointer;
  color: rgb(223, 108, 108);

}
